<div class="site-header">

    <div class="card">
      <div class="top-bar"></div>
      <a class="site-avatar" href="{{ site.baseurl }}/">
        <img src="/assets/img/avatar.png"/>
      </a>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <span class="site-description">Front End Engineer <br/>JavaScript, AngularJS</span>
    </div>

    <nav class="site-nav">
      <ul>
        <li>
          <a href="/">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li>
          <a href="//github.com/razvanbalosin" target="_blank">
            <i class="fa fa-github"></i>
            GitHub
          </a>
        </li>
      </ul>
    </nav>

    <div class="work">
      <span class="desc">currently working at</span>
      <a class="work-link" href="//wordtail.com" title="WordTail" target="_blank">
        <img class="work-icon" src="/assets/img/work.png" alt="WordTail">
        <div class="info">
          <div class="title">WordTail</div>
          <span class="subtitle">Keyword Position Monitoring</span>
        </div>
      </a>
    </div>

</div>
